<section class="card" style="background-color: #7a2a67; color:white;">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod deleniti maxime quam laudantium dignissimos
            rem ut, assumenda dolor ad ratione!</p>
    </div>
</section>