<div class="jumbotron mt-3" style="background-color: transparent; color:white; text-align: justify;">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque deleniti tempore iste beatae debitis tempora provident, minima fugiat molestiae pariatur, iusto placeat quis consectetur. Sapiente dignissimos iusto autem vitae nesciunt, at odio. Accusantium delectus quibusdam autem rem ipsum aliquid voluptates, est hic explicabo cupiditate ab dolore vel laudantium molestias repellendus!</p>
</div>