<div class="jumbotron mt-3" style="background-color: transparent; color:white;">
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod deleniti maxime quam laudantium dignissimos
        rem ut, assumenda dolor ad ratione!</p>
</div>