<div class="jumbotron mt-3" style="background-color: transparent; color:white;">
    <h1 class="display-6">Tutoriales App</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, vitae numquam? Quia est officia placeat.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusamus laudantium eos dolorum exercitationem enim rerum aut incidunt maxime magnam.</p>
    <a href="https://www.apokochito.dev" class="btn btn-outline-secondary" target="_blank">apokochito.dev</a>
</div>